<div fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <form [formGroup]="signupForm">
      <div class="signup-wrapper">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="email" matInput placeholder="Email" type="text">
            <small *ngIf="formControls.email.touched && formControls.email.errors">
              <div *ngIf="formControls.email.errors.email && !formControls.email.errors.required">
                Please enter a valid Email.
              </div>
              <div *ngIf="formControls.email.errors.required">An Email is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="password" matInput placeholder="Password" type="password">
            <small *ngIf="formControls.password?.touched && formControls.password.errors">
              <div *ngIf="formControls.password.errors.minlength && !formControls.password.errors.required">
                Password should be minimum 4 characters.
              </div>
              <div *ngIf="formControls.password.errors.required">A Password is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="firstName" matInput placeholder="First name" type="text">
            <small *ngIf="formControls.firstName?.touched && formControls.firstName.errors">
              <div *ngIf="formControls.firstName.errors.minlength && !formControls.firstName.errors.required">
                First name should be minimum 2 characters.
              </div>
              <div *ngIf="formControls.firstName.errors.required">A First name is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="lastName" matInput placeholder="Last name" type="text">
            <small *ngIf="formControls.lastName?.touched && formControls.lastName.errors">
              <div *ngIf="formControls.lastName.errors.minlength && !formControls.lastName.errors.required">
                Last name should be minimum 2 characters.
              </div>
              <div *ngIf="formControls.lastName.errors.required">A Last name is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="birthdate" matInput placeholder="Birthdate" type="date">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="gender" matInput placeholder="Gender" type="text">
            <small *ngIf="formControls.gender?.touched && formControls.gender.errors">
              <div *ngIf="formControls.gender.errors.required">A Gender is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="interests" matInput placeholder="Interests" type="text">
            <small *ngIf="formControls.interests?.touched && formControls.interests.errors">
              <div *ngIf="formControls.interests.errors.minlength && !formControls.interests.errors.required">
                Interests should be minimum 3 characters.
              </div>
              <div *ngIf="formControls.interests.errors.required">An Interests name is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="city" matInput placeholder="City" type="text">
            <small *ngIf="formControls.city?.touched && formControls.city.errors">
              <div *ngIf="formControls.city.errors.minlength && !formControls.city.errors.required">
                City should be minimum 3 characters.
              </div>
              <div *ngIf="formControls.city.errors.required">A City name is required.</div>
            </small>
          </mat-form-field>
        </mat-card-content>
        <small *ngIf="error">{{error}}</small>
      </div>
      <button mat-stroked-button color="primary" [routerLink]="['/login']">Login</button>
      <button mat-stroked-button color="accent" class="btn-block" (click)="signup()">Register</button>
    </form>
  </mat-card>

</div>
